In [35]:
import pandas as pd

In [36]:
df = pd.read_csv('synthetic_health_data.csv')
df = pd.DataFrame(df)

In [37]:
# df.isnull().sum()
# df.isna().sum()
df.describe()

               age  exercise_days  sleep_hours          bmi
count  4000.000000    4000.000000  4000.000000  4000.000000
mean     49.203500       3.454250     7.557500    27.740250
std      18.166593       2.322231     2.852232     7.186699
min      18.000000       0.000000     3.000000    15.000000
25%      34.000000       1.000000     5.000000    21.600000
50%      49.000000       3.000000     8.000000    27.900000
75%      65.000000       6.000000    10.000000    33.800000
max      80.000000       7.000000    12.000000    40.000000

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             4000 non-null   int64
 1   diet            4000 non-null   object
 2   exercise_days   4000 non-null   int64
 3   sleep_hours     4000 non-null   int64
 4   stress          4000 non-null   object
 5   bmi             4000 non-null   float64
 6   smoking         4000 non-null   object
 7   alcohol         4000 non-null   object
 8   family_history  4000 non-null   object
 9   risk_level      4000 non-null   object
dtypes: float64(1), int64(3), object(6)
memory usage: 312.6+ KB

In [39]:

df.head(10)

,age,diet,exercise_days,sleep_hours,stress,bmi,smoking,alcohol,family_history,risk_level
0,56,Poor,3,4,High,19.9,No,High,Yes,High
1,69,Average,2,5,High,33.9,No,Low,Yes,High
2,46,Average,7,12,Medium,31.0,Yes,Low,Yes,Medium
3,32,Good,1,11,High,38.1,No,High,No,Medium
4,60,Good,6,11,Low,34.6,No,Low,Yes,Medium
5,25,Poor,3,7,Medium,19.5,Yes,Low,Yes,Medium
6,78,Poor,0,5,High,35.0,Yes,Low,No,High
7,38,Average,6,4,Low,31.0,Yes,Medium,Yes,Medium
8,56,Average,4,10,Low,31.7,No,High,No,Medium
9,75,Poor,5,8,Medium,35.8,No,Low,Yes,Medium

In [40]:
from sklearn.preprocessing import StandardScaler 
scaler = StandardScaler()
scaled_data = scaler.fit_transform(df[['age','exercise_days','sleep_hours','bmi']])
df[['age','exercise_days','sleep_hours','bmi']] = scaled_data

df.head(10)

,age,diet,exercise_days,sleep_hours,stress,bmi,smoking,alcohol,family_history,risk_level
0,0.374168,Poor,-0.195634,-1.247425,High,-1.091075,No,High,Yes,High
1,1.089856,Average,-0.626308,-0.896778,High,0.857211,No,Low,Yes,High
2,-0.176362,Average,1.527063,1.557747,Medium,0.453638,Yes,Low,Yes,Medium
3,-0.947104,Good,-1.056982,1.207100,High,1.441697,No,High,No,Medium
4,0.594379,Good,1.096389,1.207100,Low,0.954626,No,Low,Yes,Medium
5,-1.332475,Poor,-0.195634,-0.195485,Medium,-1.146741,Yes,Low,Yes,Medium
6,1.585333,Poor,-1.487657,-0.896778,High,1.010291,Yes,Low,No,High
7,-0.616786,Average,1.096389,-1.247425,Low,0.453638,Yes,Medium,Yes,Medium
8,0.374168,Average,0.235040,0.856454,Low,0.551052,No,High,No,Medium
9,1.420174,Poor,0.665715,0.155161,Medium,1.121622,No,Low,Yes,Medium

In [41]:
from sklearn.preprocessing import LabelEncoder , OneHotEncoder

le_diet = LabelEncoder()
le_stress = LabelEncoder()
le_risk = LabelEncoder()

df['diet'] = le_diet.fit_transform(df['diet'])
df['stress'] = le_stress.fit_transform(df['stress'])
df['risk_level'] = le_risk.fit_transform(df['risk_level'])


encoders = {
    "diet": le_diet,
    "stress": le_stress,
    "risk_level": le_risk
}

df = pd.get_dummies(df, columns=['smoking','alcohol','family_history'], drop_first=True)

In [42]:
df.head(10)

,age,diet,exercise_days,sleep_hours,stress,bmi,risk_level,smoking_Yes,alcohol_Low,alcohol_Medium,family_history_Yes
0,0.374168,2,-0.195634,-1.247425,0,-1.091075,0,False,False,False,True
1,1.089856,0,-0.626308,-0.896778,0,0.857211,0,False,True,False,True
2,-0.176362,0,1.527063,1.557747,2,0.453638,2,True,True,False,True
3,-0.947104,1,-1.056982,1.207100,0,1.441697,2,False,False,False,False
4,0.594379,1,1.096389,1.207100,1,0.954626,2,False,True,False,True
5,-1.332475,2,-0.195634,-0.195485,2,-1.146741,2,True,True,False,True
6,1.585333,2,-1.487657,-0.896778,0,1.010291,0,True,True,False,False
7,-0.616786,0,1.096389,-1.247425,1,0.453638,2,True,False,True,True
8,0.374168,0,0.235040,0.856454,1,0.551052,2,False,False,False,False
9,1.420174,2,0.665715,0.155161,2,1.121622,2,False,True,False,True

In [43]:
df[['smoking_Yes','alcohol_Low','alcohol_Medium','family_history_Yes']] = df[['smoking_Yes','alcohol_Low','alcohol_Medium','family_history_Yes']].astype('int64')
df.head(10)

,age,diet,exercise_days,sleep_hours,stress,bmi,risk_level,smoking_Yes,alcohol_Low,alcohol_Medium,family_history_Yes
0,0.374168,2,-0.195634,-1.247425,0,-1.091075,0,0,0,0,1
1,1.089856,0,-0.626308,-0.896778,0,0.857211,0,0,1,0,1
2,-0.176362,0,1.527063,1.557747,2,0.453638,2,1,1,0,1
3,-0.947104,1,-1.056982,1.207100,0,1.441697,2,0,0,0,0
4,0.594379,1,1.096389,1.207100,1,0.954626,2,0,1,0,1
5,-1.332475,2,-0.195634,-0.195485,2,-1.146741,2,1,1,0,1
6,1.585333,2,-1.487657,-0.896778,0,1.010291,0,1,1,0,0
7,-0.616786,0,1.096389,-1.247425,1,0.453638,2,1,0,1,1
8,0.374168,0,0.235040,0.856454,1,0.551052,2,0,0,0,0
9,1.420174,2,0.665715,0.155161,2,1.121622,2,0,1,0,1

In [44]:
from sklearn.model_selection import train_test_split

X = df.drop('risk_level',axis=1)
y = df['risk_level']

X_train , X_test , y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42,stratify=y)

In [45]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

rf = RandomForestClassifier(n_estimators=100,random_state=42)

rf.fit(X_train,y_train)


y_pred = rf.predict(X_test)

print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))
print(accuracy_score(y_test,y_pred))

[[  6   0  15]
 [  0 304  17]
 [  0  19 439]]
              precision    recall  f1-score   support

           0       1.00      0.29      0.44        21
           1       0.94      0.95      0.94       321
           2       0.93      0.96      0.95       458

    accuracy                           0.94       800
   macro avg       0.96      0.73      0.78       800
weighted avg       0.94      0.94      0.93       800

0.93625

In [46]:
pred = rf.predict([[0.374168,2,-0.195634,-1.247425,-1.091075,0,1,0,0,1]])
print(pred[0])

0

/usr/lib/python3/dist-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [47]:
import pickle

# Saving the model
with open("health_risk_predictor.pkl", "wb") as f:
    pickle.dump(rf, f)

# Saving thee scaler
with open("scaler.pkl", "wb") as f:
    pickle.dump(scaler, f)

# Saving the encoderzzz
with open("label_encoders.pkl", "wb") as f:
    pickle.dump(encoders, f)

print("✅ Model, scaler, and encoders saved successfully!")

✅ Model, scaler, and encoders saved successfully!